<div class="col-lg col-centered">
  <%= form_for @activity, :html => {:multipart => true} do |f| %>
    <div class="name">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="name">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="name">
      <%= f.submit "Submit Acitivity", class: "button" %>
    </div>
  <% end %>
</div>
