<div class="col-xs-3 col-centered">
  <%= form_for @activity, :html => {:multipart => true} do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="description">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div>
      <%= f.submit "Submit Acitivity", class: "hollow button" %>
    </div>
  <% end %>
</div>
