<div class="callout" id="review-page">
  <div class="col-md-2 col-md-offset-5">
  </div>
  <div class="name">
    <strong><%= @activity.name %></strong><br>
    <i>Created by: <%= @activity.creator.username %></i><br>
    <%= @activity.description %><br><br>
  </div>
  <div class="name">
    <div><%= button_to "Edit this Activity", edit_activity_path(@activity), method: :get, class: "hollow button" %></div><br>
    <div><%= button_to "Delete this Activity", activity_path(@activity), method: :delete, class: "hollow button" %></div>
  </div>
  <div>
    <div class="name"><%= button_to "Review this Activity", new_activity_review_path(@activity), method: :get, class: "hollow button" %></div>
  </div>
</div>

<div class="name">
  Reviews:
</div>
<div class="name">
<ul style="list-style: none;">
  <% @reviews.each do |review| %>
    <div class="name" id="individual-review">
        <%= review.body %> <br> <%= review.rating %>/5 Stars (<%= review.reviewer.username %>)<br>
      <div id='voting-number' class="name">
        <div class="name">
          <div class="name"><%= button_to "Edit this Review", edit_activity_review_path(@activity, review), method: :get, class: "hollow button" %></div>
        </div>
        <div class="name">
          <div><%= button_to "Delete this Review", activity_review_path(@activity, review), method: :delete, class: "hollow button" %></div>
        </div>
      </div>
      </div>
    </div><br>
  <% end %>
</ul>
